@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;600&display=swap');


:root {
  font-family: 'Rajdhani', sans-serif;
  font-size: 20px;
  --background-clr: hsl(22, 80%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --alt-black: hsl(0, 0%, 20%);
  --cyan: hsl(180, 100%, 50%);
  --blue: hsl(240, 100%, 50%);
  --orange: hsl(39, 100%, 50%);
  --yellow: hsl(60, 100%, 50%);
  --green: hsl(120, 100%, 50%);
  --violet: hsl(300, 100%, 30%);  
  --btn-bg: var(--cyan);
}

*,*::before,*::after{
  box-sizing: border-box;
  margin:0;
  padding: 0;
}
.tetradic-border {
  border-style: solid;
  border-width: 5px;
  border-top-color: var(--cyan);
  border-right-color: var(--violet);
  border-bottom-color: var(--orange);
  border-left-color: var(--green);
}

body{ 
  background-color: var(--background-clr);
}

.logo {
  text-align: center;
}
.logo-img{
  height: 20vh;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  width: 80%;
}

.left-container {
  width: 100px;
  height: 610px;
}

#nxt-block{
  display: block;
  margin: 5px;
}

/* border animation part */
.cvs-container {
  --isAnimated: paused;
  width: 90px;
  height: 90px;
  position: relative;
  z-index: 0;
  overflow: hidden;
  margin: 0 15px 0 auto;
}

.cvs-container::before {
  content: '';
	position: absolute;
	z-index: -2;
	left: -50%;
	top: -50%;
	width: 200%;
	height: 200%;
	background-color: var(--green);
	background-repeat: no-repeat;
	background-size: 50% 50%, 50% 50%;
	background-position: 0 0, 100% 0, 100% 100%, 0 100%;
	background-image: linear-gradient(var(--green), var(--green)), 
  linear-gradient(var(--cyan), var(--cyan)), 
  linear-gradient(var(--violet), var(--violet)), 
  linear-gradient(var(--orange), var(--orange));
  transform: rotate(-45deg);
	animation: spin 4s linear infinite;	
  animation-play-state: var(--isAnimated);
}
.cvs-container::after {
  content: '';
	position: absolute;
	z-index: -1;
	left: 5px;
	top: 5px;
	width: calc(100% - 10px);
	height: calc(100% - 10px);
	background: var(--background-clr);
}

@keyframes spin {
  100% {
    transform: rotate(315deg);
  }
}

#game-window{
  background-color: var(--background-clr);
  display: block;
}

.right-container{  
  width: 200px;
  height: 610px;
}

.game-state{
  margin-left: 15px;
  padding: 10px;
  background-color:var(--background-clr);
  font-weight: bold;
  color: var(--black);
}

.highscore-container{
  margin: 15px 0 0 15px;
  padding: 12px;
  background-color: var(--background-clr);
  color: var(--alt-black);
  font-weight: bold;
}

.scoreboard{
  text-transform: uppercase;
  text-align: center;
  font-size: 1.3rem;
  color: var(--black);
  margin-bottom: 10px;
}

.highscore{
  margin-left: 5px;
}

.instruction-btn {  
  font-size: 1.5rem;
  color: var(--black);
  padding: 5px 30px;
  background-color: var(--background-clr);
  border-radius: 6px;
  text-transform: uppercase;
  font-family: inherit;
  font-weight: bold;
  position: absolute;
  bottom: 50px;
  right: 100px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.instruction-btn:hover {
  background-color: var(--btn-bg);
  color: var(--background-clr);
}

.instruction-container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  background-color: hsla(0, 100%, 0%, 80%);
}

.instruction{
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -200px 0 0 -200px;
  min-width: 400px;
  background-color: var(--background-clr);
  border-radius: 6px;
  padding: 15px 15px 30px 20px;
  text-transform: uppercase;
}

.instruction h1 {
  text-align: center;
  color: var(--black);
}
.instruction svg {
  vertical-align: middle;
}

.instruction p{
  margin-top: 10px;
  margin-left: 5px;
  color: var(--alt-black);
  font-weight: bold;
}

.x-btn {
  cursor: pointer;
  position: absolute;
  top: 15px;
  right:15px;
  transition: transform .15s ease-in-out;
}

.d-none{
  display: none;
}

#clearEffectIMG {
  display: none;
}
