@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;600&display=swap');


:root {
  font-family: 'Rajdhani', sans-serif;
  font-size: 20px;
  --white: hsl(0, 0%, 100%);
}

*,*::before,*::after{
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

body{ 
  background-color: hsl(0, 10%, 20%);
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
  margin: 0 auto;
  width: 80%;
  height: 100vh;
}

.left-container {
  width: 100px;
  height: 610px;
}
#nxt-block{
  display: block;
  margin: 0 15px 0 auto;
  background-color: hsl(0, 10%, 5%);
  border: 5px solid hsl(0, 80%, 20%);
}

#game-window{
  background-color: hsl(0, 10%, 5%);
  display: block;
  border: 5px solid hsl(0, 80%, 20%);
}

.right-container{  
  width: 200px;
  height: 610px;
}

.game-state{
  margin-left: 15px;
  padding: 10px;
  border: 5px solid hsl(0, 80%, 20%);
  background-color:hsl(0, 10%, 5%);
  font-weight: bold;
  color: hsl(0, 80%, 70%);
}

.highscore-container{
  margin: 15px 0 0 15px;
  padding: 12px;
  border: 5px solid hsl(0, 80%, 20%);
  background-color: hsl(0,10%,5%);
  color: hsl(0, 80%, 70%);
  font-weight: bold;
  /* text-align: center; */
}

.scoreboard{
  text-transform: uppercase;
  text-align: center;
  font-size: 1.3rem;
  color:hsl(0, 35%, 90%);
  margin-bottom: 10px;
}

.highscore{
  margin-left: 5px;
}

.instruction-btn {
  
font-size: 1.5rem;
color:hsl(0, 35%, 90%);
padding: 5px 15px;
background-color: hsl(0,10%,5%);
border-radius: 6px;
border: 3px solid hsl(0, 80%, 20%);
  text-transform: uppercase;
  font-family: inherit;
  font-weight: bold;
  position: absolute;
  bottom: 50px;
  right: 100px;
  cursor: pointer;
}

.instruction-container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  background-color: hsla(0, 100%, 0%, 80%);
}

.instruction{
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -200px 0 0 -200px;
  min-width: 400px;
  background-color: hsl(0, 10%, 5%);
  border: 5px solid hsl(0, 80%, 20%);
  border-radius: 6px;
  padding: 15px 15px 30px 20px;
  text-transform: uppercase;
}

.instruction h1 {
  text-align: center;
  color: hsl(0, 0%, 100%);
}
.instruction svg {
  vertical-align: middle;
}

.instruction p{
  margin-top: 10px;
  margin-left: 5px;
  color: hsl(0, 35%, 90%);
  font-weight: bold;
}

.x-btn {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right:10px;
}

.d-none{
  display: none;
}